<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой блог</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Мои достижения</h1>

<p>Я изучаю программирование и создаю сайты</p>

<img src="{{ url_for('static', filename='image.jpg') }}" width="300">

<h2>Навыки</h2>

<ul>
    <li>Python</li>
    <li>HTML</li>
    <li>CSS</li>
</ul>

<h2>Прогресс обучения</h2>

<table border="1">
    <tr>
        <th>HTML</th>
        <th>CSS</th>
        <th>Python</th>
        <th>Flask</th>
        <th>Git</th>
        <th>SQL</th>
        <th>JS</th>
        <th>API</th>
    </tr>

    <tr>
        <td>80%</td>
        <td>70%</td>
        <td>60%</td>
        <td>20%</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>70%</td>
        <td>60%</td>
        <td>50%</td>
        <td>10%</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Хорошо</td>
        <td>Нормально</td>
        <td>Учусь</td>
        <td>Начало</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>

</body>
</html>